/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1,25;

}

nav {
  background: #003e55;
  height: 60px;
  max-width: 767px;
  width: 100%;
}

img {
  width: 150.84px;
  margin: 5px 0;

}

a {
  text-decoration: none;
}

.hoofdtekst {
  float: right;
  display: inline-table;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  width: 40px;
}

.hoofdfoto {
  width: 100%;
}

h1 {
  font-family: "chunk_rethunkregular","Arial Black",Arial,sans-serif;
  text-align: center;
  font-size: 23px;
  line-height: 1.25;
  margin-bottom: 12px;
  color: #191919;
  position: relative;
  display: block;
}

p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 12px;
}

input {
  display: inline-block;
  text-align: start;
  font-size: 13,33px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px;
  border-color: rgb(118, 118, 118);
  border: 5px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  width: 100%;
}

.h2style {
  display: block;
  margin-top: 12px;
  font-size: 20px;
}

ul.smaken {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

li.smaken {
  flex-basis: 100%;

}